/* Coolors Exported Palette - https://coolors.co/181f1c-e8f7ee-48acf0-ef7b45-6b7d7d */


/* CSS HEX */

--dark-jungle-green: #181f1cff;
--honeydew: #e8f7eeff;
--blue-jeans: #48acf0ff;
--mandarin: #ef7b45ff;
--xanadu: #6b7d7dff;

/* CSS HSL */

--dark-jungle-green: hsla(154, 13%, 11%, 1);
--honeydew: hsla(144, 48%, 94%, 1);
--blue-jeans: hsla(204, 85%, 61%, 1);
--mandarin: hsla(19, 84%, 60%, 1);
--xanadu: hsla(180, 8%, 45%, 1);

/* SCSS HEX */

$dark-jungle-green: #181f1cff;
$honeydew: #e8f7eeff;
$blue-jeans: #48acf0ff;
$mandarin: #ef7b45ff;
$xanadu: #6b7d7dff;

/* SCSS HSL */

$dark-jungle-green: hsla(154, 13%, 11%, 1);
$honeydew: hsla(144, 48%, 94%, 1);
$blue-jeans: hsla(204, 85%, 61%, 1);
$mandarin: hsla(19, 84%, 60%, 1);
$xanadu: hsla(180, 8%, 45%, 1);

/* SCSS RGB */

$dark-jungle-green: rgba(24, 31, 28, 1);
$honeydew: rgba(232, 247, 238, 1);
$blue-jeans: rgba(72, 172, 240, 1);
$mandarin: rgba(239, 123, 69, 1);
$xanadu: rgba(107, 125, 125, 1);

/* SCSS Gradient */

$gradient-top: linear-gradient(0deg, #181f1cff, #e8f7eeff, #48acf0ff, #ef7b45ff, #6b7d7dff);
$gradient-right: linear-gradient(90deg, #181f1cff, #e8f7eeff, #48acf0ff, #ef7b45ff, #6b7d7dff);
$gradient-bottom: linear-gradient(180deg, #181f1cff, #e8f7eeff, #48acf0ff, #ef7b45ff, #6b7d7dff);
$gradient-left: linear-gradient(270deg, #181f1cff, #e8f7eeff, #48acf0ff, #ef7b45ff, #6b7d7dff);
$gradient-top-right: linear-gradient(45deg, #181f1cff, #e8f7eeff, #48acf0ff, #ef7b45ff, #6b7d7dff);
$gradient-bottom-right: linear-gradient(135deg, #181f1cff, #e8f7eeff, #48acf0ff, #ef7b45ff, #6b7d7dff);
$gradient-top-left: linear-gradient(225deg, #181f1cff, #e8f7eeff, #48acf0ff, #ef7b45ff, #6b7d7dff);
$gradient-bottom-left: linear-gradient(315deg, #181f1cff, #e8f7eeff, #48acf0ff, #ef7b45ff, #6b7d7dff);
$gradient-radial: radial-gradient(#181f1cff, #e8f7eeff, #48acf0ff, #ef7b45ff, #6b7d7dff);